<div class="row weather-update">
	<div class="col-sm-3 col-md-3 col-lg-3"></div>
	<div class="col-sm-6 col-md-6 col-lg-6">
		<h4>Current City: <%= city %></h4>
		<h4>Temperature: <%= weather_data['temp'] %> </h4>
		<h4>Minimum Temperature: <%= weather_data['temp_min'] %> </h4>
		<h4>Maximum Temperature: <%= weather_data['temp_max'] %> </h4>
		<h4>Pressure: <%= weather_data['pressure'] %> </h4>
		<h4>Sea Level: <%= weather_data['sea_level'] %> </h4>
		<h4>Ground Level: <%= weather_data['grnd_level'] %> </h4>
		<h4>Humidity: <%= weather_data['humidity'] %> </h4>
	</div>
	<div class="col-sm-3 col-md-3 col-lg-3"></div>
</div>